service: ats-integration

frameworkVersion: "4"

provider:
  name: aws
  runtime: python3.11
  region: ap-south-1
  environment:
    ATS_BASE_URL: https://api.workable.com/spi/v3
    ATS_API_KEY: ${env:ATS_API_KEY}
    WORKABLE_COMPANY: ${env:WORKABLE_COMPANY}

plugins:
  - serverless-offline

functions:
  getJobs:
    handler: handlers/get_jobs.handler
    events:
      - http:
          path: jobs
          method: get

  createCandidate:
    handler: handlers/create_candidate.handler
    events:
      - http:
          path: candidates
          method: post

  createApplication:
    handler: handlers/create_application.handler
    events:
      - http:
          path: applications
          method: post

  getApplications:
    handler: handlers/get_applications.handler
    events:
      - http:
          path: applications
          method: get
